body {
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	font-weight: 700;
	font-family: "PT Sans Narrow", "Arial Narrow", Arial, Helvetica, sans-serif;
}
.header-name {
	font-size: 30px;
	line-height: 42px;
}   

.goods-name {
	line-height: 18px;
}