body {
	font-size: 14px;
	line-height: 1.7;
	color: #000000;
	font-weight: 700;
	font-family: "PT Sans Narrow", "Arial Narrow", Arial, Helvetica, sans-serif;
}
.header-name {
	font-size: 30px;
	line-height: auto;
}   

.goods-name {
	line-height: 1.3;
}