body,
.header-name,
.goods-name {
	color: #000000;
	font-weight: 700;
	font-family: "PT Sans Narrow", "Arial Narrow", Arial, Helvetica, sans-serif;

}
body,
.goods-name {
	font-size: 14px;
}

body {
line-height: 24px;
}

.header-name {
	font-size: 30px;
	line-height: auto;
}   

.goods-name {
	line-height: 18px;
}